#content div{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    align-items: center;
    margin: auto;
}
/* #content div .bekezdes{
    width: 100%;
} */


#content div  img{
    width: 100%;
    padding: 5px;
}
#content div .tartalom p{
    text-align: justify;
}

#content div  .tartalom{
    display: grid;
    grid-template-columns: 1fr;
}
#content{
    display: flex;
    flex-direction: column;
   /* justify-content: center; */ 
}